################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Owen013.TeenyHatchling/obj
/Owen013.TeenyHatchling/Build/net48
/Owen013.TeenyHatchling/Ignore.zip
